@mixin pc {
    @media(min-width:768px){
        @content
    }
}
@mixin pad {
    @media(min-width:576px){
        @content
    }
}
@font-face {
    font-family: 'huninn';
    src: url('/src/assets/fonts/jf-openhuninn-1.1/jf-openhuninn-1.1.ttf')format('truetype');
}
#app {
    height:100%;
    font-family: huninn;
    * {
        box-sizing: border-box;
    }
}
body {
    background: linear-gradient(180deg,#8cda8c, #9198e5);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.title {
    padding:2em 0 2em 0;
    text-align: center;
    font-size: 24px;
}
.search-area {
    width:50%;
    margin:auto;
    margin-bottom:2em;
    @include pad {
        width:25%;
    }
    label {
        line-height: 1.5;
    }
    select {
        width:100%;
        margin-bottom:2em;
        padding:0.6em;
        border-radius: 5px;
        border: 2px solid #4c790c;
        transition:all 0.3s;
        &:focus {
            border:2px solid #7fbd28;
            box-shadow: 5px 5px 3px #7fbd28;
        }
    }
    input {
        width:100%;
        padding:0.6em;
        border-radius: 5px;
        border: 2px solid #4c790c;
        transition:all 0.3s;
        &:focus {
            border:2px solid #7fbd28;
            outline:none;
            box-shadow: 5px 5px 3px #7fbd28;
        }
    }
}
.result-filter {
    margin:auto;
    margin-bottom:2em;
    width:80%;
}
.result-list {
    width:80%;
    height:100%;
    margin:auto;
    @include pad {
        display:flex;
        flex-wrap:wrap;
    }
    li {
        border:1px solid black;
        padding:1.2em;
        margin:0 -1px -1px 0;
        line-height: 1.8;
        cursor:pointer;
        @include pad {
            width:50%;
        }
        @include pc {
            width:33.3333%;
        }
    }
}
.pag {
    padding:2em 0 2em 0;
    text-align: center;
    .pag_group {
        width:25%;
        white-space: nowrap;
        overflow: hidden;
        margin:auto;
        display:inline-block;
        transform:translateY(1.8em)
    }
    button {
        margin:0.5em;
        color:#00C78C;
        background: white;
        border:1px solid #cecece;
        border-radius: 12%;
        padding:1em 1.2em;
        font-weight: bold;
        font-size:1em;
        cursor: pointer;
    }
    .pre_btn {
        display:inline;
    }
    .active {
        background-color: #00C78C;
        border:1px solid #03A89E;
        color:white;
    }
}
.pag_info {
    margin-top:1em;
}
.highlight {
    color:rgb(1, 145, 20)
}
.result-filter {
    select {
        padding:0.4em;
        border-radius: 5px;
        border: 2px solid #4c790c;
        transition:all 0.3s;
        &:focus {
            border:2px solid #7fbd28;
            box-shadow: 5px 5px 3px #7fbd28;
        }
    }
}