@mixin pc {
    @media(min-width:768px){
        @content
    }
}
@mixin pad {
    @media(min-width:576px){
        @content
    }
}
#app {
    * {
        box-sizing: border-box;
    }
}
.title {
    margin:2em 0 2em 0;
    text-align: center;
}
.search-area {
    width:50%;
    margin:auto;
    margin-bottom:2em;
    @include pad {
        width:25%;
    }
    label {
        line-height: 1.5;
    }
    select {
        width:100%;
        margin-bottom:2em;
    }
    input {
        width:100%;
    }
}
.result-filter {
    margin:auto;
    margin-bottom:2em;
    width:80%;
}
.result-list {
    width:80%;
    height:100%;
    margin:auto;
    @include pad {
        display:flex;
        flex-wrap:wrap;
    }
    li {
        border:1px solid black;
        padding:1.2em;
        margin:0 -1px -1px 0;
        cursor:pointer;
        @include pad {
            width:50%;
        }
        @include pc {
            width:33.3333%;
        }
    }
}
.pag {
    margin:2em 0 2em 0;
    text-align: center;
    button {
        margin:0.5em;
    }
}
.highlight {
    color:rgb(1, 145, 20)
}